<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pureblacksoft.petidence"
    >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/API_Key_Petidence"
            />
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.Launch"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.GuideActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            />

        <service
            android:name=".service.FoodDownloadService"
            android:exported="false"
            />

        <service
            android:name=".service.SleepDownloadService"
            android:exported="false"
            />

        <service
            android:name=".service.PlayDownloadService"
            android:exported="false"
            />
    </application>

</manifest>